.primary {
  background-color: #5475CA;
  color: #FFFFFF;
  height: 36px;
  width: 80px;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border-radius: 15px;
  border: none;
}

.primary:hover {
  cursor: pointer;
}